/* 会社一覧ここから
------------------------------------------------ */
.company{
    margin-bottom: 50px;
}
.company-ttl{
    text-align: center;
    padding-top: 10vh;
    font-size: 2rem;
    margin-bottom: 50px;
}
.company-tabel{
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
}
.company-tabel-head{
    color: #fff;
    background-color: #676767;
    font-weight: bold;
}
.company-tabel-head th, 
.company-tabel-head td{
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;  
}
.company-tabel-body th,
.company-tabel-body td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
}

.edit-btn {
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #566aac; 
    color: white;
}
.edit-btn:hover {
    background-color: #011658;
}

.delete-btn {
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #da716a; 
    color: white;
}
.delete-btn:hover {
    background-color: #940e0e;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.page-btn {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 5px;
}

.page-btn.active {
    background-color: #6b758c;
    color: #fff;
    cursor: not-allowed;
}
.companyPerPage{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    padding: 0 5%;
}

@media screen and (max-width: 768px) {
    .company-ttl{
        font-size: 1.5rem;
    }
    .company-tabel-wrap{
        overflow-x: scroll;
        padding: 0 5%;
    }
    .company-tabel{
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
    }
    .companyPerPage{
        justify-content: flex-start;
        margin: 0 5%;
    }
}


/* モーダル用 */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: none; /* ←初期は非表示 */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-box {
  background: #fff;
  border: 15px solid #011658;
  border-radius: 20px;
  padding: 2rem 2.5rem;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.modal-content{
    margin: 50px 0;
    font-size: 1.3rem;
}
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 30px; 
}
.modal-btn{
    border: 2px solid #011658;
    background-color: #D7DBE4;
    border-radius: 5px;
    padding: 15px 20px;
}
.modal-btn:hover{
    background-color: #011658;
    color: #D7DBE4;
}
  

@media screen and (max-width: 768px) {
      .modal-content{
          margin: 50px 0;
          font-size: 1rem;
      }
      .modal-buttons {
          display: flex;
          justify-content: center;
          gap: 20px; 
      }
}