
/* 顧客登録ここから
------------------------------------------------ */
.entry{
    margin-bottom: 50px;
}
.entry-ttl{
    text-align: center;
    padding-top: 10vh;
    font-size: 2rem;
    margin-bottom: 50px;
}
.entry-form{
    width: 50%;
    padding: 3%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}
.entry-form-list{
    display: flex;
    justify-content: space-between;
}
.entry-form-btn{
    background-color: #fff;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.entry-form-btn:hover{
    opacity: 0.7;
    border: 1px solid #222222;
}


@media screen and (max-width: 768px) {
    .entry-ttl{
        font-size: 1.5rem;
    }
    .entry-form{
        width: 90%;
    }
    .entry-form-list{
        display: flex;
        flex-direction: column;
    }
    .entry-form-btn{
        margin: 30px auto 0;
    }
    .return-btn{
        margin-bottom: 50px;
    }
}

/* ------------------------------------------------
顧客登録ここまで */


/* モーダル用 */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: none; /* ←初期は非表示 */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-box {
  background: #fff;
  border: 15px solid #011658;
  border-radius: 20px;
  padding: 2rem 2.5rem;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.modal-content{
    margin: 50px 0;
    font-size: 1.3rem;
}
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 30px; 
}
.modal-btn{
    border: 2px solid #011658;
    background-color: #D7DBE4;
    border-radius: 5px;
    padding: 15px 20px;
}
.modal-btn:hover{
    background-color: #011658;
    color: #D7DBE4;
}
  

@media screen and (max-width: 768px) {
      .modal-content{
          margin: 50px 0;
          font-size: 1rem;
      }
      .modal-buttons {
          display: flex;
          justify-content: center;
          gap: 20px; 
      }
}